<!-- views/forgotPassword.ejs -->

<h2>Forgot Password</h2>

<form action="/api/v1/auth/forgotPassword" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

<div>
    <p>Remember your password? <a href="/view/login">Login</a></p>
</div>
