<h2>Halo <%= user.username %></h2>
<button id="logoutButton">Logout</button>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const logoutButton = document.getElementById('logoutButton');
    
        logoutButton.addEventListener('click', () => {
            localStorage.removeItem('token');
    
            window.location.href = '/view/login';
        });
    });
</script>