<h2>Reset Password</h2>

<form action="/api/v1/auth/resetPassword" method="post">
    <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
